<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="aboutusStyle.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <title>Cart Page</title>
</head>

<body>
    <nav>
      <div class="logo">
          <a href="#"><img src="Project/image/FoodShare_Icon_1.png" alt="" width="60" height="60"></a>
      </div>
      <div class="menu">
          <li><a href="">Onlineshop</a></li>
          <li><a href="">Donations</a></li>
      </div>
      <div class="search">
        <form action="" class="search-bar">
          <li><a href="" i class="fa-solid fa-search"></a></li>
          <input type="text" placeholder="Search" name="search">
        </form>
      </div>
  
      <div class="account">
          <li><a href="" i class="fa-solid fa-user"></a></li>
          <li><a href="Checkout.html" i class="fa-solid fa-cart-shopping"></a></li>
      </div>
  </nav>

  </body>
  </html>