<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/AboutUs.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <title>About Us</title>
</head>

<body>
    <header class = "header">
           
        <div class="logo">
            <img src="../static/images/logo.webp" alt="logo"/>
        </div>

        <div class="navigation">
            <nav>
              
                <a href="">Home</a>
                <a href="">Contact Us</a>
                <a href="">About Us</a>
              
            </nav>
        </div>

        <div class="start">
           <button class="btn" >Get Started</button>
        </div>

        </header>

  <section class="content" id="content">

    <img src="../static/images/picture.jpg" alt="cover-image">
    
    <div class="title">
    <h1>About Us</h1>
    <h3>Revolutionizing sustainability through SustainLink </h3>
    </div>

    <div class="icon-section">

        <div class="part-1">
        <img src="../static/images/technology.png" alt="icon-1">
        <p>Revolutionizing Sustainability Through Connection</p>
    </div>

    <div class="part-2">
        <img src="../static/images/connect.png" alt="icon-2">
        <p>Connecting Surplus to Purpose</p>
    </div>
    
    <div class="part-3">
        <img src="../static/images/circle.png" alt="icon-3">
        <p>Supporting Businesses, Empowering Communities</p>
    </div>

    </div>

    <div class="info-1">

        <div class="script-1">
        <h1>Revolutionizing Sustainability Through Connection</h1>
       <p>At SustainLink, our mission is to address environmental and social challenges by connecting surplus perishable goods with those in need. We recognize the potential of surplus items to support communities and reduce waste. Our platform encompasses a wide range of goods beyond food, ensuring diverse needs are met efficiently.</p>
       <p>Central to our mission is efficiency and collaboration. Through real-time connections and tracking mechanisms, we create a dynamic ecosystem where surplus goods find purpose. By leveraging technology, we empower businesses to manage inventory effectively while providing timely resources to those in need.</p>
       <p>Rooted in sustainability and social responsibility, our mission aims to build resilient and equitable communities. We believe every surplus item can make a difference, fostering a culture of sustainability and social impact. Our vision is a world where resources are valued and accessible to all, realized through collaborative efforts and meaningful connections.</p>
    </div>
        
        <img src="../static/images/img-1.jpg" alt="image">
        
    </div>

    <div class="info-2">

        <img src="../static/images/img-2.jpg" alt="image">
        <div class="script-2">
        <h1>Revolutionizing Sustainability Through Connection</h1>
        <p> At SustainLink, our mission is to address environmental and social challenges by connecting surplus perishable goods with those in need. We recognize the potential of surplus items to support communities and reduce waste. Our platform encompasses a wide range of goods beyond food, ensuring diverse needs are met efficiently</p>
       <p>Central to our mission is efficiency and collaboration. Through real-time connections and tracking mechanisms, we create a dynamic ecosystem where surplus goods find purpose. By leveraging technology, we empower businesses to manage inventory effectively while providing timely resources to those in need.</p>
        <p>Rooted in sustainability and social responsibility, our mission aims to build resilient and equitable communities. We believe every surplus item can make a difference, fostering a culture of sustainability and social impact. Our vision is a world where resources are valued and accessible to all, realized through collaborative efforts and meaningful connections.</p>
    
    </div>
        
    </div>


    <div class="info-3">

        <div class="script-3">
        <h1>Supporting Businesses, Empowering Communities</h1>
        <p> At SustainLink, we understand that sustainability and community welfare are interconnected. By bridging the gap between surplus goods and those in need, we create a ripple effect that benefits both businesses and communities. Our platform serves as a conduit for surplus goods to find new purpose, simultaneously helping businesses manage their inventory more efficiently while providing essential resources to individuals and organizations in need.</p>
       <p>Through seamless transactions facilitated by our platform, whether through donation or purchase, we empower local businesses to make a positive impact on their communities. By redirecting surplus goods towards meaningful purposes, businesses can contribute to waste reduction efforts while also fulfilling their corporate social responsibility goals.</p>
        <p>Moreover, our platform supports a diverse range of stakeholders, including local charities and individuals, by providing access to essential resources that may otherwise be out of reach. Whether it's a donation of surplus goods to a community pantry or a purchase of discounted items by a family in need, every transaction facilitated through SustainLink contributes to the well-being of communities.</p>
       <p>Together, we can make a meaningful impact on waste reduction and community well-being. By fostering collaboration between businesses and communities, we not only create a more sustainable future but also cultivate a sense of empowerment and resilience within communities. Join us in our mission to make a positive difference in the world, one transaction at a time.</p>
        </div>
       
       <img class="img-3" src="../static/images/imgt-3.jpg" alt="image">
    
    </div>
        
    </div>

  </section>

  <div class="end">
    <div class="info">
        <h1>Information</h1>
        <div class="info-a">
        <a href="">career</a>
        <a href="">about us</a>
        <a href="">privacy policy</a>
        <a href="">terms of use</a>
        <a href="">accessibility</a>
        <a href="">contentrules & regulations</a>  
        </div>
    </div>
    
    <div class="help">
        <h1>Help</h1>
        <div class="help-a">
        <a href="">FAQ</a>
        <a href="">News</a>
        </div>
    </div>

    <div class="contact">
        <h1>Contact</h1>
        <div class="contact-p1">
        <p>123 street</p>
        <p>123456 city</p>
        </div>
        <div class="contact-p2">
        <p>+91234567890</p>
        <p>info@foodshare.com</p>
        </div>
    </div>

    <div class="social">
        <h1>Social Media</h1>
        <div class="social-icon">
        <li><a href="" class="fa-brands fa-instagram"></a></li>
        <li><a href="" class="fa-brands fa-square-facebook"></a></li> 
        <li><a href="" class="fa-brands fa-youtube"></a></li>
        </div>
    </div>
</div>

  </body>
  </html>
