<!DOCTYPE html>
<html>
  <head>
    <title>Catalogue.</title>
    <link rel="stylesheet" href="../static/all_products.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
  </head>
  <body>

    <div class="top">
      <header class = "header">
               
        <div class="logo">
            <img src="../static/images/logo.png" alt="logo"/>
        </div>
    
        <div class="navigation">
            <nav>
              
                <a href="/orglayout">Home</a>
                <a href="/all_requests">Track Requests</a>
                <a href="/contact_us">Contact Us</a>
                <a href="/about_us">About Us</a>
              
            </nav>
        </div>
    
        <div class="start">
          <a href="/profile" class="btn">Profile</a>
        </div>
    
        </header>
      </div>
    

    <div class="all-available-products">
        <h1>All Available Products</h1>
      </div>
      

   

    <div class="container">
      


      {% for x in products %}
      
      <div class="product-card">
        <div class="product-image">
          <a href="{{url_for('product',inventory_id=x.id)}}">
          <img src=" {{ url_for('static', filename='./uploads/' + x.image_file) }}" alt="Product Image">
          </a>
        </div>
        <div class="product-details">
          <h2 class="product-title">{{x.name}}</h2>
        </div>
        <div class="Card-info" >ED:{{x.expiry_date}}
          <li><a href="" i class="fa-solid fa-cart-shopping"></a></li>
        </div>
      </div>
      {% endfor %}
           
        </div>
      </div>
    </div>

    <div class="end"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>