<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="Cartpage.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <title>Cart Page</title>
</head>
<body>
  <nav>
    <div class="logo">
        <a href="#"><img src="Project/image/FoodShare_Icon_1.png" alt="" width="55" height="55"></a>
    </div>
    <div class="menu">
        <li><a href="">Onlineshop</a></li>
        <li><a href="">Donations</a></li>
    </div>
    <div class="search">
      <form action="" class="search-bar">
        <li><a href="" i class="fa-solid fa-search"></a></li>
        <input type="text" placeholder="Search" name="search">
      </form>
    </div>

    <div class="account">
        <li><a href="" i class="fa-solid fa-user"></a></li>
        <li><a href="" i class="fa-solid fa-cart-shopping"></a></li>
    </div>
</nav>
  <div class="shop">
    <h1>Shopname 1</h1>
  <p><br>123 Street - 123456 City
  </p>
  </div>

  <div class="container">
    <div class="card1">
      <img src="Project/image/pic_juice.png" alt="">
      <h1>Oadaa Orange - Limonade</h1>
      <div class="brand">
        <h2>Brand</h2>
        <p>Oadaa</p>
      </div>

      <div class="category">
        <h2>Category</h2>
        <p>Drinks</p>
      </div>

    <div class="Quality-s">
        <select name="unit" id="unitsS">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
    </div>

      <div class="productnum">
        <h2>Productnumber</h2>
        <p>D23454KL12</p>
      </div>

      <div class="exp">
        <h2>Expiry Date</h2>
        <p>19-12-2023</p>
      </div>
      <div class="line1">
        <hr>
      </div>
    </div>

    <div class="card2">
        <img src="Project/image/pic_juice.png" alt="">
        <h1>Oadaa Orange - Limonade</h1>
        <div class="brand2">
          <h2>Brand</h2>
          <p>Oadaa</p>
        </div>
  
        <div class="category2">
          <h2>Category</h2>
          <p>Drinks</p>
        </div>
  
      <div class="Quality-s2">
          <select name="unit" id="unitsS">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
      </div>
  
        <div class="productnum2">
          <h2>Productnumber</h2>
          <p>D23454KL12</p>
        </div>
  
        <div class="exp2">
          <h2>Expiry Date</h2>
          <p>19-12-2023</p>
        </div>
        <div class="line2">
          <hr>
        </div>
      </div>

      <div class="card3">
        <img src="Project/image/pic_juice.png" alt="">
        <h1>Oadaa Orange - Limonade</h1>
        <div class="brand3">
          <h2>Brand</h2>
          <p>Oadaa</p>
        </div>
  
        <div class="category3">
          <h2>Category</h2>
          <p>Drinks</p>
        </div>
  
      <div class="Quality-s3">
          <select name="unit" id="unitsS">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
      </div>
  
        <div class="productnum3">
          <h2>Productnumber</h2>
          <p>D23454KL12</p>
        </div>
  
        <div class="exp3">
          <h2>Expiry Date</h2>
          <p>19-12-2023</p>
        </div>
        <div class="line3">
          <hr>
        </div>
      </div>
      <div class="button-cart">
        <button>Get Cart</button>
      </div>
  </div>
      
      
      <div class="shop2">
        <h1>Shopname 2</h1>
      <p><br>123 Street - 123456 City
      </p>
      </div>

      <div class="container2">
        <div class="card1">
          <img src="Project/image/pic_juice.png" alt="">
          <h1>Oadaa Orange - Limonade</h1>
          <div class="brand">
            <h2>Brand</h2>
            <p>Oadaa</p>
          </div>
    
          <div class="category">
            <h2>Category</h2>
            <p>Drinks</p>
          </div>
    
        <div class="Quality-s">
            <select name="unit" id="unitsS">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
        </div>
    
          <div class="productnum">
            <h2>Productnumber</h2>
            <p>D23454KL12</p>
          </div>
    
          <div class="exp">
            <h2>Expiry Date</h2>
            <p>19-12-2023</p>
          </div>
          <div class="line4">
            <hr>
          </div>
        </div>
    
        <div class="card2">
            <img src="Project/image/pic_juice.png" alt="">
            <h1>Oadaa Orange - Limonade</h1>
            <div class="brand2">
              <h2>Brand</h2>
              <p>Oadaa</p>
            </div>
      
            <div class="category2">
              <h2>Category</h2>
              <p>Drinks</p>
            </div>
      
          <div class="Quality-s2">
              <select name="unit" id="unitsS">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
          </div>
      
            <div class="productnum2">
              <h2>Productnumber</h2>
              <p>D23454KL12</p>
            </div>
      
            <div class="exp2">
              <h2>Expiry Date</h2>
              <p>19-12-2023</p>
            </div>
            <div class="line5">
              <hr>
            </div>
          </div>
    
          <div class="card3">
            <img src="Project/image/pic_juice.png" alt="">
            <h1>Oadaa Orange - Limonade</h1>
            <div class="brand3">
              <h2>Brand</h2>
              <p>Oadaa</p>
            </div>
      
            <div class="category3">
              <h2>Category</h2>
              <p>Drinks</p>
            </div>
      
          <div class="Quality-s3">
              <select name="unit" id="unitsS">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
          </div>
      
            <div class="productnum3">
              <h2>Productnumber</h2>
              <p>D23454KL12</p>
            </div>
      
            <div class="exp3">
              <h2>Expiry Date</h2>
              <p>19-12-2023</p>
            </div>
            <div class="line6">
              <hr>
            </div>
          </div>
          <div class="button-cart">
            <button>Get Cart</button>
          </div>
        </div>
    
        <div class="button-all">
          <button>Get all cart</button>
        </div>
        <div class="end">
        </div>
</body>
</html>