<!DOCTYPE html>
<html>
  <head>
    <title>Catalog.</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../static/catalog.css">
  </head>
  <body>
    <nav>
        <div class="logo">
            <a href="#"><img src="../static/images/symbol.png" alt="" width="55" height="55"></a>
        </div>
        <div class="menu">
            <li><a href="">Onlineshop</a></li>
            <li><a href="">Donations</a></li>
        </div>
        <div class="search">
          <form action="" class="search-bar">
            <li><a href="" i class="fa-solid fa-search"></a></li>
            <input type="text" placeholder="Search" name="search">
          </form>
        </div>

        <div class="account">
            <li><a href="" i class="fa-solid fa-user"></a></li>
            <li><a href="" i class="fa-solid fa-cart-shopping"></a></li>
        </div>
    </nav>

    <div class="shop">
        <img src="../static/images/shop_img.png" alt="">
        <h1>Shopname: </h1>
        <p>Location: </p>
    </div>

    <h3>Donated Products of Shopname: </h3>

    <div class="container">
      <div class="product-card">
        <div class="product-image">
          <img src="../static/images/spagetti.png" alt="Product Image">
        </div>
        <div class="product-details">
          <h2 class="product-title">Spaggetti</h2>
        </div>
        <div class="Card-info">ED:2023-12-28
          <li><a href="" i class="fa-solid fa-cart-shopping"></a></li>
        </div>
      </div>

      <div class="product-card">
        <div class="product-image">
          <img src="../static/images/flour.png" alt="Product Image">
        </div>
        <div class="product-details">
          <h2 class="product-title">Flour</h2>
        </div>
        <div class="Card-info">ED:2024-01-02
          <li><a href="" i class="fa-solid fa-cart-shopping"></a></li>
        </div>
      </div>

      <div class="product-card">
        <div class="product-image">
          <img src="../static/images/juice.png" alt="Product Image">
        </div>
        <div class="product-details">
          <h2 class="product-title">Oadaa Orange</h2>
        </div>
        <div class="Card-info">ED:2023-12-19
          <li><a href="" i class="fa-solid fa-cart-shopping"></a></li>
        </div>
      </div>

      <div class="product-card">
        <div class="product-image">
          <img src="../static/images/flour.png" alt="Product Image">
        </div>
        <div class="product-details">
          <h2 class="product-title">Flour</h2>
        </div>
        <div class="Card-info">ED:2024-01-02
          <li><a href="" i class="fa-solid fa-cart-shopping"></a></li>
        </div>
      </div>
          
        </div>
      </div>
    </div>

    <div class="container">
      <div class="product-card">
        <div class="product-image">
          <img src="../static/images/spagetti.png" alt="Product Image">
        </div>
        <div class="product-details">
          <h2 class="product-title">Spaggetti</h2>
        </div>
        <div class="Card-info">ED:2023-12-28
          <li><a href="" i class="fa-solid fa-cart-shopping"></a></li>
        </div>
      </div>

      <div class="product-card">
        <div class="product-image">
          <img src="../static/images/flour.png" alt="Product Image">
        </div>
        <div class="product-details">
          <h2 class="product-title">Flour</h2>
        </div>
        <div class="Card-info">ED:2024-01-02
          <li><a href="" i class="fa-solid fa-cart-shopping"></a></li>
        </div>
      </div>

      <div class="product-card">
        <div class="product-image">
          <img src="../static/images/juice.png" alt="Product Image">
        </div>
        <div class="product-details">
          <h2 class="product-title">Oadaa Orange</h2>
        </div>
        <div class="Card-info">ED:2023-12-19
          <li><a href="" i class="fa-solid fa-cart-shopping"></a></li>
        </div>
      </div>

      <div class="product-card">
        <div class="product-image">
          <img src="../static/images/flour.png" alt="Product Image">
        </div>
        <div class="product-details">
          <h2 class="product-title">Flour</h2>
        </div>
        <div class="Card-info">ED:2024-01-02
          <li><a href="" i class="fa-solid fa-cart-shopping"></a></li>
        </div>
      </div>
          
        </div>
      </div>
    </div>

    <div class="container">
      <div class="product-card">
        <div class="product-image">
          <img src="../static/images/spagetti.png" alt="Product Image">
        </div>
        <div class="product-details">
          <h2 class="product-title">Spaggetti</h2>
        </div>
        <div class="Card-info">ED:2023-12-28
          <li><a href="" i class="fa-solid fa-cart-shopping"></a></li>
        </div>
      </div>

      <div class="product-card">
        <div class="product-image">
          <img src="../static/images/flour.png" alt="Product Image">
        </div>
        <div class="product-details">
          <h2 class="product-title">Flour</h2>
        </div>
        <div class="Card-info">ED:2024-01-02
          <li><a href="" i class="fa-solid fa-cart-shopping"></a></li>
        </div>
      </div>

      <div class="product-card">
        <div class="product-image">
          <img src="../static/images/juice.png" alt="Product Image">
        </div>
        <div class="product-details">
          <h2 class="product-title">Oadaa Orange</h2>
        </div>
        <div class="Card-info">ED:2023-12-19
          <li><a href="" i class="fa-solid fa-cart-shopping"></a></li>
        </div>
      </div>

      <div class="product-card">
        <div class="product-image">
          <img src="../static/images/flour.png" alt="Product Image">
        </div>
        <div class="product-details">
          <h2 class="product-title">Flour</h2>
        </div>
        <div class="Card-info">ED:2024-01-02
          <li><a href="" i class="fa-solid fa-cart-shopping"></a></li>
        </div>
      </div>
          
        </div>
      </div>
    </div>

    <div class="end"></div>
  
  </body>
</html>
