{% extends 'layout.html' %}
{% block content %}
    <div class="profile-header">Checkout</div>
    <form method="POST" action="">
    <div class="checkout-top-row">
        <div class="checkout-left-container">
            <div style="font-weight: bold; font-size: large">
                Personal Information
            </div>
            <div class="input-box">
                <div style="font-weight: bold; font-size: smaller">Name</div>
                <label id="name">
                    <input class="input-field" style="width:70%" value={{ user.name}}>
                </label>
            </div>
            <div class="input-box">
                <div style="font-weight: bold; font-size: smaller">E-Mail</div>
                <label id="name">
                    <input class="input-field" style="width:70%" value={{ user.email}}>
                </label>
            </div>
            <div class="input-box">
                <div style="font-weight: bold; font-size: smaller">Mobile Number</div>
                <label id="name">
                    <input class="input-field" style="width:70%" >
                </label>
            </div>
             <div style="font-weight: bold;">
                Address
            </div>
            <div style="display: flex; flex-direction:row; ">
                 <div class="input-box">
                <div>Street</div>
                <label id="name">
                    <input class="input-field">
                </label>
            </div>
                 <div class="input-box">
                    <div>No</div>
                    <label id="name">
                        <input class="input-field" style="width: 4vw">
                    </label>
            </div>
            </div>
            <div style="display: flex; flex-direction:row; ">
                 <div class="input-box">
                <div>ZIP</div>
                <label id="name">
                    <input class="input-field" style="width: 5vw">
                </label>
            </div>
                 <div class="input-box" >
                    <div>Country</div>
                    <label id="name">
                        <input class="input-field" style="width: 15vw ">
                    </label>
            </div>
            </div>

        </div>
        <div class="checkout-right-container">
            <div class="checkout-top-right-container">
                <div style="font-weight: bold;font-size: large">
                Order Details
            </div>
                <ul class="checkout-item-list">
                   {% for item in order_data %}
                    <li class="item-summary">
                           <div>
                               {{ item.amount }} x
                           </div>
                           <div>
                               {{ item.name }}
                           </div>
                           <div>
                               {{ item.cost }} $
                           </div>
                    </li>
                    {% endfor %}
                    <li>
                        <div style="background-color:#000000; height:2px; width:100%; border-radius:10px; margin-top: 5px"></div>
                    </li>
                    <li class="item-summary" style="font-weight: bold; margin-top: 5px">
                        <span>Subtotal</span>
                        {{ cost.cost }} $
                    </li>
                    <li class="item-summary">
                        <span>Tax</span>
                        {{ cost.tax }} $
                    </li>
                    <li class="item-summary">
                        <span>Shipping</span>
                        {{ cost.shipping }} $
                    </li>
                    <li>
                        <div style="background-color:#000000; height:2px; width:100%; border-radius:10px; margin-top: 5px"></div>
                    </li>
                    <li class="item-summary" style="font-weight: bold">
                        <span>Total</span>
                        {{ cost.final_amount }} $
                    </li>
                </ul>
            </div>
            <div class="checkout-bottom-right-container">
                <div style="font-weight: bold;font-size: large">
                Store Details
                </div>
                    <div style="font-weight: bold; font-size: smaller">{{ shop_data.name }}</div>
                    <div class="profile-info-text">
                        <div>Address: </div>
                        <div>{{ shop_data.address }}</div>
                    </div>
                    <div class="profile-info-text">
                        <div>Reward Level: </div>
                        <div>{{ shop_data.reward_level }}</div>
                    </div>
            </div>
        </div>
    </div>
    </form>
{% endblock %}