<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="Checkout.css">
    <title>Checkout</title>
</head>
<body>
    <nav>
        <div class="logo">
            <a href="#"><img src="Project/image/FoodShare_Icon_1.png" alt="" width="60" height="60"></a>
        </div>
        <div class="menu">
            <li><a href="">Onlineshop</a></li>
            <li><a href="">Donations</a></li>
        </div>
        <div class="search">
          <form action="" class="search-bar">
            <li><a href="" i class="fa-solid fa-search"></a></li>
            <input type="text" placeholder="Search" name="search">
          </form>
        </div>

        <div class="account">
            <li><a href="" i class="fa-solid fa-user"></a></li>
            <li><a href="" i class="fa-solid fa-cart-shopping"></a></li>
        </div>
    </nav>
    <div class="Checkout">
        <img src="Project/image/pic_cover (1).png" alt="" width="100%" height="350vh">
        <h1>Checkout</h1>
    </div>
    <div class="container1">
        <h1>Personal Information</h1>
        <div class="Firstname">
            <h3>Firstname</h3>
            <input type="text">
        </div>

        <div class="Lastname">
            <h3>Lastname</h3>
            <input type="text">
        </div>

        <div class="Email">
            <h3>E-mail</h3>
            <input type="text">
        </div>

        <div class="Mobile">
            <h3>Mobile</h3>
            <input type="text">
        </div>

        <div class="Address">
            <h1>Address</h1>
        </div>
        <div class="Street">
            <h3>Street</h3>
            <input type="text">
        </div>

        <div class="Number">
            <h3>Number</h3>
            <input type="text">
        </div>

        <div class="zip">
            <h3>ZIP</h3>
            <input type="text">
        </div>

        <div class="Location">
            <h3>Location</h3>
            <input type="text">
        </div>

        <div class="save">
            <input type="radio" id="save" name="save" value="save">
            <label for="save">Save billing address</label>
        </div>
    </div>

    <div class="container2">
        <h1>Cart Details</h1>
        <div class="first-item">
            <p>10 x <span>Oadad Orange - Limonade</span><h5>0.00</h5></p>
        </div>
        <div class="second-item">
            <p>10 x <span>Spaggetti</span> <h5>0.00</h5></p>
        </div>
        <div class="third-item">
            <p>10 x <span>Flour</span> <h5>0.00</h5></p>
        </div>
        <div class="line1"><hr></div>
        <div class="Subtotal">
            <h3>Subtotal</h3><h5>0.00</h5>
        </div>
        <div class="Shipping">
            <span>Shipping</span><h5>0.00</h5>
        </div>
        <div class="Tax">
            <span>Tax</span> <h5>0.00</h5>
        </div>
        <div class="line2"><hr></div>
        <div class="Total">
            <h3>Total</h3><h5>0.00</h5>
        </div>
    </div>

    <div class="container3">
        <h1>Shopinformation</h1>
        <h3>Shopname1</h3>
        <p>123 Street</p>
        <span>1000000 City</span>
        <h4>Reward Level: 4</h4>
    </div>

    <div class="order-btn">
        <button>place order</button>
    </div>

    <div class="end">
        <div class="info">
            <h1>Information</h1>
            <div class="info-a">
            <a href="">career</a>
            <a href="">about us</a>
            <a href="">privacy policy</a>
            <a href="">terms of use</a>
            <a href="">accessibility</a>
            <a href="">contentrules & regulations</a>  
            </div>
        </div>
        
        <div class="help">
            <h1>Help</h1>
            <div class="help-a">
            <a href="">FAQ</a>
            <a href="">News</a>
            </div>
        </div>

        <div class="contact">
            <h1>Contact</h1>
            <div class="contact-p1">
            <p>123 street</p>
            <p>123456 city</p>
            </div>
            <div class="contact-p2">
            <p>+91234567890</p>
            <p>info@foodshare.com</p>
            </div>
        </div>

        <div class="social">
            <h1>Social Media</h1>
            <div class="social-icon">
            <li><a href="" class="fa-brands fa-instagram"></a></li>
            <li><a href="" class="fa-brands fa-square-facebook"></a></li> 
            <li><a href="" class="fa-brands fa-youtube"></a></li>
            </div>
        </div>
    </div>
</body>
</html>