<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/homeStyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fraunces:wght@500&display=swap"> 

    </head>

    <body>

        <header class = "header">
           
        <div class="logo">
            <img src="../static/images/logo.png" alt="logo"/>
        </div>

        <div class="navigation">
            <nav>
              
                <a href="">Home</a>
                <a href="">Contact Us</a>
                <a href="">About Us</a>
                <a href="">Pages</a>
              
            </nav>
        </div>

        <div class="start">
           <button class="btn" >Get Started</button>
        </div>

        </header>
        
        <section class="home" id="home">
            
            <img class ="design01" src ="../static/images/design1 copy.svg" alt="design">
            <img class ="design02" src ="../static/images/design02.svg" alt="design">

            <div class="title">   
            <h6 class="tagline">A tagline here</h6> 
            <h1 class="company">SustainLink</h1>
            <p class="brief">A visionary project designed to combat waste and enhance community welfare by connecting individuals in need with stores holding near-expiry perishable products.</p>     
            </div>

            <img class="cover_pic" src="../static/images/coverpic.jpg" alt="Cover Image">
            
        </section>
    </body>
</html>