<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>Store Homepage</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/storeMainStyle.css" />
  </head>

  <body>

    <div class="top">
        <header class = "header">
                 
          <div class="logo">
              <img src="../static/images/LOGOO.png" alt="logo"/>
          </div>
      
          <div class="navigation">
              <nav>
                
                  <a href="">Home</a>
                  <a href="/all_products">Inventory</a>
                  <a href="/contact_us">Contact Us</a>
                  <a href="/about_us">About Us</a>
                
              </nav>
          </div>
      

          <div class="start">
            <a href="{{url_for('all_products')}}" class="btn">Profile</a>
          </div>
      
          </header>
        </div>

        <section class="container1" id="container1">

            <div class="color1"></div>
            <div class="color2"></div>

            <div class="content">
            <img class ="design01" src ="../static/images/design1.svg" alt="design">
            <img class ="design02" src ="../static/images/design02.svg" alt="design">

            <div class="intro">

                <h6 class="tagline">Surplus finds Purpose!</h6>
                <h1 class="title">Elevate your user experience with <span class="text-primary-2">SustainLink</span></h1>

                <div class="image">
                    <img src="../static/images/storeMain.jpg" alt="cover image"> 
                </div>
            </div>
        </div>

        </section>

        <section class="container2" id="container2">

            <div class="choices">
                
                <div class="scan">
                 <h4>Scan Groceries</h4>
                 <h6>Easy and fast! Add a new product to your store effortlessly by scanning a QR code.</h6>
                 <img src="../static/images/scan.png" alt="qr code">
                 <div class="click">
                    <button class="scan-button" >Scan</button>
                 </div> 
                </div>

                <div class="manual-input">
                   
                    <h4>Manual-Input of Groceries</h4>
                    <h6>No QR-Code? Add a new product to your store by entering all the necessary details manually.</h6>
                    <img src="../static/images/input.png" alt="qr code">
                    <div class="click">
                        <a href="/inventory" class="input-button">Add Product</a>

                       
                    </div> 

                </div>

            </div>

            <div class="information">
                
            </div>
        </section>


    
   
</body>

    <script src="" async defer></script>

</html>
