<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="icon" href="../static/images/symbol.png" />
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <link rel="stylesheet" href="../static/LoginFinal.css" />
  </head>

  <body>
    <div class="top">
      <header class = "header">
               
        <div class="logo">
            <img src="../static/images/logo.png" alt="logo"/>
        </div>
    
        <div class="navigation">
            <nav>
              
                <a href="./landingPage.html">Home</a>
                <a href="/contact_us.html">Contact Us</a>
                <a href="/about_us.html">About Us</a>
              
            </nav>
        </div>
    
        <div class="start">
           <button class="btn" >Get Started</button>
        </div>
    
        </header>
      </div>

    <section class="container" id="container">
      <div class="title">
        <h1>Login</h1>
      </div>

      <div class="form-box">
        <form method="POST" action="">
          {{ form.hidden_tag() }}
          <div class="input-group">
            
            <i class="fa-solid fa-user"></i> {% if
              form.email.errors %} {{ form.email(class="input-field",placeholder="E-Mail") }}
              <div class="invalid-feedback">
                {% for error in form.email.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %} {{ form.email(class="input-field",placeholder="E-Mail") }} {%
              endif %}
            
          </div>

          <div class="input-group">
            <i class="fa-solid fa-address-card"></i>
            {% if form.password.errors %} {{ form.password(class="input-field",placeholder="Password") }}
              <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %} {{ form.password(class="input-field",placeholder="Password") }} {%
              endif %}
          </div>

          <div class="input-group">{{ form.submit(class="button") }}</div>
        </form>
        </form>

      </div>
    </section>

    <script>
      let signupBtn = document.getElementById("signupBtn");
      let signinBtn = document.getElementById("signinBtn");
      let nameField = document.getElementById("nameField");
      let fpassword = document.getElementById("fpassword");
      let cpassword = document.getElementById("cpassword");
      let password = document.getElementById("password");
      let Email = document.getElementById("Email");
      let Location = document.getElementById("Location");
      let Name = document.getElementById("Name");
      let Role = document.getElementById("Role");
      let Phone = document.getElementById("Phone");
      let title = document.getElementById("title");
      let Icon = document.getElementById("Icon");

      signinBtn.onclick = function () {
        nameField.style.maxHeight = "0";
        fpassword.style.maxHeight = "60px";
        Phone.style.maxHeight = "0";
        Name.style.maxHeight = "0";
        Location.style.maxHeight = "0";
        cpassword.style.maxHeight = "0";
        Role.style.maxHeight = "60px";
        Email.style.maxHeight = "60px";
        password.style.maxHeight = "60px";
        Icon.style.maxHeight = "180px";
        title.innerHTML = "Login";
        signinBtn.classList.remove("disable");
        signupBtn.classList.add("disable");
      };

      signupBtn.onclick = function () {
        nameField.style.maxHeight = "40px";
        fpassword.style.maxHeight = "0";
        Phone.style.maxHeight = "40px";
        Name.style.maxHeight = "40px";
        Location.style.maxHeight = "40px";
        cpassword.style.maxHeight = "40px";
        Email.style.maxHeight = "40px";
        password.style.maxHeight = "40px";
        Role.style.maxHeight = "40px";
        Icon.style.maxHeight = "0";
        fpassword.style.maxHeight = "0";
        title.innerHTML = "Register";
        signupBtn.classList.remove("disable");
        signinBtn.classList.add("disable");
      };

      fpassword.style.maxHeight = "0";
      Icon.style.maxHeight = "0";
    </script>
  </body>
</html>
