<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mainpageStyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fraunces:wght@500&display=swap"> 

    </head>

    <body>

        <header class = "header">
           
        <div class="logo">
            <img src="./logo.webp" alt="logo"/>
        </div>

        <div class="navigation">
            <nav>
              
                <a href="">Home</a>
                <a href="">Contact Us</a>
                <a href="">About Us</a>
              
            </nav>
        </div>

        <div class="start">
           <button class="btn" >Get Started</button>
        </div>

        </header>

        <img class="cover-pic" src="./pic_cover.png">

        <section class="container2" id="container2">

            <div class="choices">
                
                <div class="scan">
                 <h1>Scan Groceries</h1>
                 <h3>details of how we go about doing this for the stores</h3>
                 <img src="./scan.webp" alt="qr code">
                 <div class="click">
                    <button class="scan-button" >Scan</button>
                 </div> 
                </div>

                <div class="manual-input">
                   
                    <h1>Manual-Input of Groceries</h1>
                    <h3>details of how we go about doing this for the stores</h3>
                    <img src="./input.webp" alt="qr code">
                    <div class="click">
                       <button class="input-button" >Add</button>
                    </div> 

                </div>

            </div>

            <div class="some">
                <div class="text">
                 <h1>What are we doing?</h1>
                 <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>
                 <div class="click">
                    <button class="read_more" >Read More</button>
                 </div>
                </div>
                <div class="image">
                    <img src="./Rectangle29.png" alt="image">
                </div>
            </div>
            </section>

            <div class="end">
                <div class="info">
                    <h1>Information</h1>
                    <div class="info-a">
                    <a href="">career</a>
                    <a href="">about us</a>
                    <a href="">privacy policy</a>
                    <a href="">terms of use</a>
                    <a href="">accessibility</a>
                    <a href="">contentrules & regulations</a>  
                    </div>
                </div>
                
                <div class="help">
                    <h1>Help</h1>
                    <div class="help-a">
                    <a href="">FAQ</a>
                    <a href="">News</a>
                    </div>
                </div>
        
                <div class="contact">
                    <h1>Contact</h1>
                    <div class="contact-p1">
                    <p>123 street</p>
                    <p>123456 city</p>
                    </div>
                    <div class="contact-p2">
                    <p>+91234567890</p>
                    <p>info@foodshare.com</p>
                    </div>
                </div>
        
                <div class="social">
                    <h1>Social Media</h1>
                    <div class="social-icon">
                    <li><a href="" class="fa-brands fa-instagram"></a></li>
                    <li><a href="" class="fa-brands fa-square-facebook"></a></li> 
                    <li><a href="" class="fa-brands fa-youtube"></a></li>
                    </div>
                </div>
            </div>
