<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Screen</title>
    <link rel="stylesheet" href="../static/sora_style.css">
    <link rel="icon" href="{{url_for('static',filename='images/logo.png')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    
</head>
<body>
<div class="Container">
    <div class="input-group">
      <h2>Foodshare</h2>
      <img src="../static/images/logo.png" alt="" width="1" height="2">
        <div class="button-box"></div>
       <h1 id="title">Sign In</h1>
       <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Log In</legend>
          <div class="form-group">
            {{ form.email.label(class="form-control-label") }} {% if
            form.email.errors %} {{ form.email(class="form-control form-control-lg
            is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.email.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ form.email(class="form-control form-control-lg") }} {%
            endif %}
          </div>
          <div class="form-group">
            {{ form.password.label(class="form-control-label") }} {% if
            form.password.errors %} {{ form.password(class="form-control
            form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.password.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ form.password(class="form-control form-control-lg") }} {%
            endif %}
          </div>
          <div class="form-check">
            {{ form.remember(class="form-check-input") }} {{
            form.remember.label(class="form-check-label") }}
          </div>
        </fieldset>
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
        </div>
        <small class="text-muted ml-2">
          <a href="#">Forgot Password?</a>
        </small>
        </div>
    </div>

<!-- <script>

  let signupBtn = document.getElementById("signupBtn");
  let signinBtn = document.getElementById("signinBtn");
  let nameField = document.getElementById("nameField");
  let fpassword = document.getElementById("fpassword")
  let title = document.getElementById("title");

  nameField.style.maxHeight = "0";

signinBtn.onclick = function(){
    nameField.style.maxHeight = "0";
    fpassword.style.maxHeight = "60px";
    title.innerHTML = "Sign In";
    signinBtn.classList.remove("disable");
    signupBtn.classList.add("disable");
}

signupBtn.onclick = function(){
  nameField.style.maxHeight = "60px";
  fpassword.style.maxHeight = "0";
  title.innerHTML = "Sign Up";
  signupBtn.classList.remove("disable");
  signinBtn.classList.add("disable");
}



</script> -->
</body>
</html>