<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details Page</title>
    <link rel="stylesheet" href="../static/Productd.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <nav>
        <div class="logo">
            <a href="#"><img src="../static/images/logo.webp" alt="" width="60" height="60"></a>
        </div>
        <div class="menu">
            <li><a href="">Onlineshop</a></li>
            <li><a href="">Donations</a></li>
        </div>
        <div class="search">
          <form action="" class="search-bar">
            <li><a href="" i class="fa-solid fa-search"></a></li>
            <input type="text" placeholder="Search" name="search">
          </form>
        </div>

        <div class="account">
            <li><a href="" i class="fa-solid fa-user"></a></li>
            <li><a href="" i class="fa-solid fa-cart-shopping"></a></li>
        </div>
    </nav>

    <div class="container">

        <div class="left">
            <div class="big-img">
                <img src="../static/images/product.png">
            </div>
            <div class="images">
                <div class="small-img1">
                    <img src="../static/images/product.png" onclick="showImg(this.src)">
                </div>
                <div class="small-img2">
                    <img src="../static/images/product.png" onclick="showImg(this.src)">
                </div>
                <div class="small-img3">
                    <img src="../static/images/product.png" onclick="showImg(this.src)">
                </div>
                <div class="small-img4">
                    <img src="../static/images/product.png" onclick="showImg(this.src)">
                </div>
                <div class="small-img5">
                  <img src="../static/images/product.png" onclick="showImg(this.src)">
              </div>
            </div>
        </div>

        <h1>Ashley Joy - Shampoo</h1>
        <div class="Brand">
            <h2>Brand</h2>
            <p>Ashley Joy</p>
        </div>
        
        <div class="Category">
            <h2>Category</h2>
            <p>Hair Care</p>
        </div>

        <div class="ProductNum">
            <h2>Product Number</h2>
            <p>D23454KL12</p>
        </div>

        <div class="Exp">
            <h2>Expiry Date</h2>
            <p>19-12-2023</p>
        </div>
        
        <div class="Quality">
            <h2>Quantity</h2>
        </div>
        <div class="Quality-s">
            <select name="unit" id="unitsS">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
        </div>

        <div class="Shop">
          
            <h3>Shopname1</h3>
            <p style="color: rgb(0, 0, 0)">
                <br> 123 street 
                <br>40000 city</p>
            
        </div>

        <div class="Description">
            <h2>Description</h2>
            <p><br>cascassaascscjkasdhkdkcsa
              <br>cascassaascscjkasdhkdkcsa
              <br>cascassaascscjkasdhkdkcsa
              <br>cascassaascscjkasdhkdkcsa
              <br>cascassaascscjkasdhkdkcsa
              <br>cascassaascscjkasdhkdkcsa
              <br>cascassaascscjkasdhkdkcsa
              <br>cascassaascscjkasdhkdkcsa
            </p>
        </div>
        
        <div class="Click">
            <button class="Button">Add to Cart</button>
        </div>
    </div>

    <div class="Recent">
        <h1>Recent Activities</h1>
    </div>

    <div class="container1">
        <div class="product-card">
          <div class="product-image">
            <img src="../static/images/spagetti.png" alt="Product Image">
          </div>
          <div class="product-details">
            <h2 class="product-title">Spaggetti</h2>
          </div>
          <div class="Card-info">ED: 2024-12-28
            <li><a href="" i class="fa-solid fa-cart-shopping"></a></li>
          </div>
        </div>
  
        <div class="product-card">
          <div class="product-image">
            <img src="../static/images/product-4.png" alt="Product Image">
          </div>
          <div class="product-details">
            <h2 class="product-title">Body Wash</h2>
          </div>
          <div class="Card-info">ED: 2025-01-02
            <li><a href="" i class="fa-solid fa-cart-shopping"></a></li>
          </div>
        </div>
  
        <div class="product-card">
          <div class="product-image">
            <img src="../static/images/product-5.png" alt="Product Image">
          </div>
          <div class="product-details">
            <h2 class="product-title">Bread</h2>
          </div>
          <div class="Card-info">ED: 2025-12-19
            <li><a href="" i class="fa-solid fa-cart-shopping"></a></li>
          </div>
        </div>
  
        <div class="product-card">
          <div class="product-image">
            <img src="../static/images/product-3.png" alt="Product Image">
          </div>
          <div class="product-details">
            <h2 class="product-title">Candies</h2>
          </div>
          <div class="Card-info">ED: 2025-01-02
            <li><a href="" i class="fa-solid fa-cart-shopping"></a></li>
          </div>
        </div>
            
          </div>
        </div>
      </div>
  
      <div class="end">
        <div class="info">
            <h1>Information</h1>
            <div class="info-a">
            <a href="">career</a>
            <a href="">about us</a>
            <a href="">privacy policy</a>
            <a href="">terms of use</a>
            <a href="">accessibility</a>
            <a href="">contentrules & regulations</a>  
            </div>
        </div>
        
        <div class="help">
            <h1>Help</h1>
            <div class="help-a">
            <a href="">FAQ</a>
            <a href="">News</a>
            </div>
        </div>

        <div class="contact">
            <h1>Contact</h1>
            <div class="contact-p1">
            <p>123 street</p>
            <p>123456 city</p>
            </div>
            <div class="contact-p2">
            <p>+91234567890</p>
            <p>info@foodshare.com</p>
            </div>
        </div>

        <div class="social">
            <h1>Social Media</h1>
            <div class="social-icon">
            <li><a href="" class="fa-brands fa-instagram"></a></li>
            <li><a href="" class="fa-brands fa-square-facebook"></a></li> 
            <li><a href="" class="fa-brands fa-youtube"></a></li>
            </div>
        </div>
    </div>


    <script>
        let bigImg = document.querySelector('.big-img img');
        function showImg(pic){
            bigImg.src = pic;
        }
    </script>
</body>
</html>
