{% extends "layout.html" %} {% block content %}

<h1>Name - {{product.name}}</h1>
<h2>Category - {{product.category}}</h2>
<h2>Quantity - {{product.quantity}}</h2>
<h2>Expiry Date - {{product.expiry_date}}</h2>
<h2>Status - {{product.status}}</h2>
<h2>Brand - {{product.brand}}</h2>
<h2>Description - {{product.desc}}</h2>
<h2>User_id - {{product.user_id}}</h2>
<h3>Current user - {{current_user.id}}</h3>
<br />
<br />
<br />
<br />
<br />

<!-- <img src=" {{ url_for('static', filename='images/' + product.image_file) }}"></img> -->
{% if product.user_id == current_user.id %} {% for req in product_requests %}
<h2>Id - {{req.id}}</h2>
<h2>Product_id - {{req.product_id}}</h2>
<h2>User - {{req.user_id}}</h2>
<h2>quantity - {{req.quantity}}</h2>
<h2>desc - {{req.desc}}</h2>
<h2>status - {{req.status}}</h2>
<form
  action="{{url_for('manage_req', request_id=req.id,action=1)}}"
  method="POST"
>
  <input class="btn btn-danger" type="submit" value="Accept" />
</form>
<form
  action="{{url_for('manage_req', request_id=req.id,action=0)}}"
  method="POST"
>
  <input class="btn btn-danger" type="submit" value="Decline" />
</form>
<br />
{% endfor %} {% endif %}
<br />
<br />
<br />
<br />
<br />
{% if product.user_id == current_user.id %}
<form action="{{url_for('delete', inventory_id=product.id)}}" method="POST">
  <input class="btn btn-danger" type="submit" value="Delete" />
</form>
{% endif %} {% if product.user_id != current_user.id and current_user.role ==
'Organization' %}

<form method="POST" action="">
  {{ form.hidden_tag() }}
  <fieldset class="form-group">
    <div class="form-group">
      {{ form.desc.label(class="form-control-label") }} {% if form.desc.errors
      %} {{ form.desc(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.desc.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %} {{ form.desc(class="form-control form-control-lg") }} {% endif
      %}
    </div>
    <div class="form-group">
      {{ form.quantity.label(class="form-control-label") }} {% if
      form.quantity.errors %} {{ form.quantity(class="form-control
      form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.quantity.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %} {{ form.quantity(class="form-control form-control-lg") }} {%
      endif %}
    </div>
  </fieldset>
  <div class="form-group">{{ form.submit(class="btn btn-outline-info") }}</div>
</form>
{% endif %} {% endblock content %}
