{% extends 'layout.html' %}
{% block content %}
<div class="profile-header">Profile</div>
    <div style="display: flex; justify-content: center">
     <div class="profile-top-container">
        <img src="{{ url_for('static', filename=shop_data.image_path) }}" alt="Card image cap" class="profile-card-image">
        <div class="right-text-profile">
            <div style="font-weight: bold; font-size: large">{{ shop_data.name }}</div>
            <div class="profile-info-text">
                <div>Address</div>
            <div style="font-weight: bold; margin-left: 10px">{{ shop_data.address }}</div>
            </div>
            <div class="profile-info-text">
                <div>Reward Level:</div>
            <div style="font-size: large; font-weight: bold; margin-left: 10px;">{{ shop_data.reward_level }}</div>
            </div>
            <div class="profile-info-text">
                <div>Points:</div>
            <div style="font-size: large;font-weight: bold; margin-left: 10px;">{{ shop_data.points}}</div>
            </div>
            <div class="level-bar">
                <div style="display: flex; justify-content: space-between; padding: 0 5px 5px 0; font-weight: bold">
                    <div>
                        {{ shop_data.reward_level }}
                    </div>
                    <div>
                        {{ shop_data.reward_level + 1 }}
                    </div>
                </div>
                 <div>
                     <progress style="display:flex; width:auto" max=100 value={{ shop_data.points - ((shop_data.reward_level - 1)*100) }}></progress>
                 </div>
            </div>
             <a href="#" class="btn btn-outline-secondary edit-profile-button">Edit Profile</a>
        </div>
    </div>
    </div>
    <div class="profile-header" style="padding-top:0px">Recent Activities</div>
    <div class="card-deck">
       <ul class="shop-list">
       {% for item in stuff %}
        <li>
            <div class="card shop-list-item" style="border-radius: 15px">
                <img class="card-img-top" src="{{ url_for('static', filename=item.image_path) }}" alt="Card image cap">
                <div class="card-body" style="padding: 0">
                    <h6 class="shop-header">{{ item.name }}</h6>
                    <div class="shop-text">
                        <div class="card-text" style="font-size: smaller">ED: {{ item.exp_date }}</div>
                        <a href="#">
                            <img src="{{ url_for('static', filename='./images/cart.png') }}" width="15" height="15">
                        </a>

                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock content %}

