<!DOCTYPE html>
<html>
  <head>
    <title>Catalog.</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../static/cat.css">
    <link rel="stylesheet" href="../static/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-fixed-top">
      <div class="container-fluid navbar-styling text-center">
          <a class="navbar-brand" href="{{url_for('home')}}">
              <img src="{{ url_for('static', filename='images/symbol.png') }}" alt="Bootstrap" width="30" height="30">
              SustainLink
          </a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              {% if current_user.is_authenticated %}
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  {% if current_user.role == 'Organization' %}
                  <li class="nav-item dropdown-center">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Onlineshop</a>
                       <ul class="dropdown-menu">
                           <li><a class="nav-item nav-link" href="{{url_for('available_products')}}">Available Products</a></li>
                      </ul>
                  </li>
                  {% endif %}
                  {% if current_user.role == 'Store' %}
                  <li class="nav-item dropdown-center">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Donations
                      </a>
                      <ul class="dropdown-menu">
                          {% if current_user.role == 'Store' %}
                              <li><a class="nav-item nav-link" href="{{url_for('inventory')}}">Inventory</a></li>
                              <li><a class="nav-item nav-link" href="{{url_for('all_products')}}">All Products</a></li>
                          {% endif %}
                      </ul>
                  </li>
                  {% endif %}
              </ul>
              {% endif %}
              <div>DONATE . REUSE . TRANSFORM</div>
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"aria-expanded="false">
                          <img src="{{ url_for('static', filename='images/person.svg') }}" alt="dropdown-toggle" height="20" width="20">
                      </a>
                      <ul class="dropdown-menu dropdown-menu-end">
                          {% if current_user.is_authenticated %}
                              <li><a class="dropdown-item" href="{{url_for('logout')}}">Logout</a></li>
                              <li><a class="dropdown-item" href="{{url_for('all_products')}}">Profile</a></li>
                          {% else %}
                              <li><a class="dropdown-item" href="{{url_for('login')}}">Login</a></li>
                              <li><a class="dropdown-item" href="{{url_for('register')}}">Register</a></li>
                          {% endif %}
                      </ul>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#" role="button" >
                          <img src="{{ url_for('static', filename='images/cart2.svg') }}" alt="dropdown-toggle" height="20" width="20">
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

  </head>
  <body>
    

    <div class="shop">
        <img src=" {{ url_for('static', filename='uploads/' + current_user.image_file) }}" alt="">
        <div class="shop-details">
        <h1>Shopname: {{current_user.name}} </h1>
        <p>Location:</p>
        </div>
      </div>

    <h3>Donated Products of {{current_user.name}}: </h3>

    <div class="container">
      


      {% for x in inventory %}
      
      <div class="product-card">
        <div class="product-image">
          <a href="{{url_for('product',inventory_id=x.id)}}">
          <img src=" {{ url_for('static', filename='./uploads/' + x.image_file) }}" alt="Product Image">
          </a>
        </div>
        <div class="product-details">
          <h2 class="product-title">{{x.name}}</h2>
        </div>
        <div class="Card-info" >ED:{{x.expiry_date}}
          <li><a href="" i class="fa-solid fa-cart-shopping"></a></li>
        </div>
      </div>
      {% endfor %}
           
        </div>
      </div>
    </div>

    <div class="end"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>